scripts/projects-xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://w3schoools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="roll_no"/>
              <xs:element type="xs:string" name="project1"/>
              <xs:element type="xs:string" name="proof1"/>
              <xs:element type="xs:string" name="project2"/>
              <xs:element type="xs:string" name="proof2"/>
              <xs:element type="xs:string" name="project3"/>
              <xs:element type="xs:string" name="proof3"/>
              <xs:element type="xs:string" name="project4"/>
              <xs:element type="xs:string" name="proof4"/>
              <xs:element type="xs:string" name="project5"/>
              <xs:element type="xs:string" name="proof5"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>