scripts/sports.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="roll_no"/>
              <xs:element type="xs:string" name="sport1"/>
              <xs:element type="xs:string" name="sport2"/>
              <xs:element type="xs:string" name="sport3"/>
              <xs:element type="xs:string" name="sport4"/>
              <xs:element type="xs:string" name="sport5"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>