scripts/users.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="user_id"/>
              <xs:element type="xs:string" name="user_name"/>
              <xs:element type="xs:long" name="mob"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="resume_link"/>
              <xs:element type="xs:int" name="dob"/>
              <xs:element type="xs:byte" name="isAdmin"/>
              <xs:element type="xs:string" name="gender"/>
              <xs:element type="xs:string" name="pwd"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>