scripts/xsdForacademic.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://w3schoools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="roll_no"/>
              <xs:element type="xs:float" name="sgpa1"/>
              <xs:element type="xs:float" name="sgpa2"/>
              <xs:element type="xs:float" name="sgpa3"/>
              <xs:element type="xs:float" name="sgpa4"/>
              <xs:element type="xs:float" name="sgpa5"/>
              <xs:element type="xs:float" name="sgpa6"/>
              <xs:element type="xs:byte" name="sgpa7"/>
              <xs:element type="xs:byte" name="sgpa8"/>
              <xs:element type="xs:string" name="cgpa"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>